{% extends 'base.html.twig' %}

{% block title %}Halgueronne - Administration - Edition de contenu{% endblock %}

{% block body %}
    <div id="admin-encyclopedia-new-post-page" class="slide pb-5">
        <div class="container">
            {% include 'partials/title.html.twig' %}
            <div class="container-content">
                <div class="row">
                    <h2>Edition de contenu de l'encyclopédie</h2>
                </div>
                <div>
                    {{ form_start(form, {'attr': {'class': 'ewrapper'}}) }}
                        {{ form_row(form.encyclopediaTopic) }}
                        {{ form_row(form.title, {'attr': {'class': 'mb-5'}}) }}
                        {{ form_row(form.post) }}

                        <button type="submit" class="btn btn-success mr-3">Confirmer l'édition du poste</button>
                        <a href="{{ path('admin')}}" class="btn btn-danger">Retour à l'admin</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

