{% extends 'base.html.twig' %}

{% block title %}Halgueronne - Administration - Création de contenu{% endblock %}
{% block stylesheets %}
    <!-- La fonction twig asset() permet de retrouver un fichier statique, peu importe sa version. Et donc de récupérer la css créée par npm run build -->
    <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
{% endblock %}

{% block body %}
    <div id="admin-encyclopedia-new-post-page" class="slide pb-5">
        <div class="container">
            {% include 'partials/title.html.twig' %}
            <div class="container-content">
                <div class="row">
                    <h2>Création de contenu pour l'encyclopédie</h2>
                </div>
                <div>
                    {{ form_start(form, {'attr': {'class': 'ewrapper'}}) }}
                        {{ form_row(form.encyclopediaTopic) }}
                        {{ form_row(form.title, {'attr': {'class': 'mb-5'}}) }}
                        {{ form_row(form.post) }}

                        <button type="submit" class="btn btn-success mr-3">Confirmer la création du poste</button>
                        <a href="{{ path('admin')}}" class="btn btn-danger">Retour à l'admin</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/js/app.js')}}"></script>
{% endblock %}

