{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Liste des utilisateurs</h1>
    </div>
    {% for user in users %}
        <div class="row">
            <h3>{{ user.login }}</h3>
        </div>
        <div class="row">
            <div><img class="users-list-avatar" src="{{ user.avatar }}" alt="Avatar de l'utilisateur"></div>
        </div> 
        <div class="row">
            <ul>
                <li>Mail : {{ user.mail }}</li>
                <li>Role : {{ user.role }}</li>
                <li>Posts : {{user.posts }}</li>
            </ul>
        </div>
        <div class="row">
            <a href="{{ path('account_profile', {'slug' : user.slug}) }}" class="btn btn-primary">Voir utilisateur</a>
            <a href="{{ path('admin_user_delete', {'slug' : user.slug}) }}" class="btn btn-danger">Supprimer utilisateur</a>
        </div> 
    {% endfor %}
    <div class="row">
        <a href="{{ path('account_register')}}" class="btn btn-success">Ajouter un utilisateur</a>
        <a href="{{ path('admin')}}" class="btn btn-danger">Accueil Administration</a>
    </div>
</div>
{% endblock %}
