{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Uilisateur</h1>

        <div class="row">
            <h3>{{ utilisateurs.pseudo }}</h3>
        </div>
        <div>
            {% if utilisateurs.avatar == 'img/no-avatar.png' %}
                <div><img class="row users-list-avatar" src="../img/no-avatar.png" alt="Avatar de l'utilisateur"></div>
            {% else %}
                <div><img class="row users-list-avatar" src="{{ utilisateurs.avatar }}" alt="Avatar de l'utilisateur"></div>
            {% endif %}
        </div> 
        <div class="row">
            <ul>
                <li>Email : {{ utilisateurs.email }}</li>
                <li>Rang : {{ utilisateurs.rang }}</li>
                <li>Messages : {{utilisateurs.messages }}</li>
            </ul>
        </div>

</div>
{% endblock %}
