{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Uilisateur</h1>
    </div>
    <div class="row">
        <h3>{{ utilisateurs.pseudo }}</h3>
    </div>
    <div class="row">
        {% if utilisateurs.avatar == 'img/no-avatar.png' %}
            <div><img class="row users-list-avatar" src="../img/no-avatar.png" alt="Avatar de l'utilisateur"></div>
        {% else %}
            <div><img class="row users-list-avatar" src="{{ utilisateurs.avatar }}" alt="Avatar de l'utilisateur"></div>
        {% endif %}
    </div> 
    <div class="row">
        <ul>
            <li>Email : {{ utilisateurs.email }}</li>
            <li>Rang : {{ utilisateurs.rang }}</li>
            <li>Messages : {{utilisateurs.messages }}</li>
        </ul>
    </div>
     <div class="row">
        <a href="{{ path('utilisateurs_edit', {'slug' : utilisateurs.slug}) }}" class="btn btn-primary">Editer l'utilisateur</a>
        <a href="{{ path('utilisateurs')}}" class="btn btn-danger">Retour</a>
    </div> 
</div>
{% endblock %}
