{% extends 'base.html.twig' %}

{% block title %}Halgueronne - Création fiche de personnage{% endblock %}

{% block body %}
<div id="characters-create-page" class="pb-5">
    <div class="container">
        {% include 'partials/title.html.twig' %}
        <div class="container-content">
        <div class="row">
            <h2>Création de fiche de personnage</h2>
        </div>
            {{ form_start(form) }}
                <fieldset class="col-12 mb-4">    	
                    <legend>Identité</legend>
                    
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-12">{{ form_row(form.picture)}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-lg-6">{{ form_row(form.lastname) }}</div>
                                <div class="col-xs-12 col-lg-6">{{ form_row(form.firstname) }}</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-xs-12 col-lg-4 mb-4 pl-0">
                        {{ form_row(form.gender) }}
                    </div >
                    <div class="col-xs-12 col-lg-8 pr-0">
                        <fieldset class="col-12 mb-4">    	
                            <legend>Date de naissance</legend>
                            
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-lg-4">{{ form_row(form.birthDay) }}</div>
                                        <div class="col-xs-12 col-lg-4">{{ form_row(form.birthMonth) }}</div>
                                        <div class="col-xs-12 col-lg-4">{{ form_row(form.birthYear) }}</div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <fieldset class="col-12 mb-4">    	
                        <legend>Spécificités</legend>
                        
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-12">
                                    {{ form_row(form.races) }}
                                    {{ form_row(form.classes) }}
                                    {{ form_row(form.skills) }} 
                                </div>
                            </div>
                        </div>
                    </fieldset>	
                </div>
                <div class="row mb-5">
                    <fieldset class="col-12 mb-4">    	
                        <legend>Historique</legend>
                        
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-12">
                                    {{ form_row(form.background) }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                
            
                <button type="submit" class="btn btn-success mr-3">Confirmer la création</button>
                <a href="{{ path('characters', {'slug' : app.user.slug} )}}" class="btn btn-danger">Retour à mes fiches</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('build/js/app.js')}}"></script>
    <script>
        var limit = 5;
        $('input.custom-control-input').on('change', function(evt) {
            if($(this).siblings(':checked').length > limit) {
                this.checked = false;
            }
        });
    </script>
{% endblock %}