{% extends 'base.html.twig' %}

{% block title %}Halgueronne{% endblock %}

{% block body %}
<div id="characters-search-page" class="slide pb-5">
    <div class="container">
        {% include 'partials/title.html.twig' %}
        <div class="container-content mb-5">
            <div class="row">
                <h2>Résultat de recherche : "{{search}}"</h2>
            </div>
            <div class="row">
                {% for character in result %}
                    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-2 mb-5">
                        <a href="{{ path('character_show', {'slug' : character.slug}) }}" title="Voir détails du personnage">
                            <div class="card ">
                                <img src="{{character.picture}}" class="card-img-center" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{character.firstname}} {{character.lastname}}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a href="{{path('home')}}" title="Retour"><button type="button" class="btn btn-info"><i class="fas fa-arrow-left"></i></button></a>
        </div>
    </div>
</div>
{% endblock %}