{% extends 'base.html.twig' %}

{% block title %}Halgueronne - Fiche du personnage {{ character.firstname }} {{ character.lastname }}{% endblock %}

{% block body %}
<div id="characters-show-page" class="slide pb-5">
    <div class="container">
        {% include 'partials/title.html.twig' %}
        <div class="container-content mb-4">
            <div class="row">
                <h2>{{ character.firstname }} {{ character.lastname }}</h2>
            </div>
        
            <div class="row mb-4">
                {% if character.picture == 'img/no-character-picture.png' %}
                    <div class="col-4 col-lg-2"><img class="" src="../../img/no-character-picture.png" alt="Image du personnage"></div>
                {% else %}
                    <div class="col-4 col-lg-2"><img class="" src="{{ character.picture }}" alt="Image du personnage "></div>
                {% endif %}
                {% if (character.deathDay != NULL) or (character.deathMonth != NULL) or (character.deathYear != NULL) %}
                    <div class="dead-alert col-5 col-lg-10">
                        <p>Mort</p>
                        <i class="fas fa-skull mb-5"></i>    
                    </div>       
                {% endif %}
            </div> 
            <div class="row">
                <ul>
                    <li>Sexe : 
                    {% if character.gender == 'f' %}
                        Féminin
                    {% elseif character.gender == 'm' %}
                        Masculin
                    {% else %}
                        Indéfini
                    {% endif %}
                    </li>
                    <li>Naissance : {{ character.birthDay }} / {{ character.birthMonth }} / {{ character.birthYear }} </li>
                    <li>Mort : 
                    {% if (character.deathDay == NULL) and (character.deathMonth == NULL) and (character.deathYear == NULL) %}
                        -
                    {% else %}
                        {{ character.deathDay }} / {{ character.deathMonth }} / {{ character.deathYear }} </li>
                    {% endif %}
                </ul>
            </div>
        
            <div id="background-show" class="row mb-4">
                <h4>Biographie :</h4>
                {{ character.background }}
            </div>
            <a href="{{path('home')}}" title="Retour"><button type="button" class="btn btn-info"><i class="fas fa-arrow-left"></i></button></a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == character.user.id %}
                <div class="row">
                    <a href="{{ path('character_edit', {'slug' : character.slug}) }}" class="btn btn-primary mb-5">Editer mon personnage</a>
                </div>
            {% elseif is_granted('ROLE_ADMIN') %}
                <div class="row">
                    <a href="{{ path('character_edit', {'slug' : character.slug}) }}" class="btn btn-danger mb-5">Administrer ce personnage</a>
                </div>
            {% else %}
                {# Tous les autres cas dont le fait de ne pas être connecté à sa session #}
            {% endif %}
        </div>
    </div>  
</div>
{% endblock %}
