{% extends 'base.html.twig' %}

{% block title %}Halgueronne - Fiche du personnage {{ character.firstname }} {{ character.lastname }}{% endblock %}

{% block body %}
<div id="character-informations-page" class="slide">
    <div class="container">
        {% include 'partials/title.html.twig' %}
        <div class="row">
            <h2>{{ character.firstname }} {{ character.lastname }}</h2>
        </div>
        <div class="container-content">
            <div class="row">
                {% if character.picture == 'img/no-character-picture.png' %}
                    <div class="col-4 col-lg-2"><img class="" src="../../img/no-character-picture.png" alt="Image du personnage"></div>
                {% else %}
                    <div class="col-4 col-lg-2"><img class="" src="{{ character.picture }}" alt="Image du personnage "></div>
                {% endif %}
                {% if (character.deathDay != NULL) or (character.deathMonth != NULL) or (character.deathYear != NULL) %}
                    <div class="dead-alert col-5 col-lg-10">
                        <p>Mort</p>
                        <i class="fas fa-skull mb-5"></i>    
                    </div>
                                  
                {% endif %}
            </div> 
            <div class="row">
                <ul>
                    <li>Sexe : 
                    {% if character.gender == 'f' %}
                        Féminin
                    {% elseif character.gender == 'm' %}
                        Masculin
                    {% else %}
                        Indéfini
                    {% endif %}
                    </li>
                    <li>Naissance : {{ character.birthDay }} / {{ character.birthMonth }} / {{ character.birthYear }} </li>
                    <li>Mort : 
                    {% if (character.deathDay == NULL) and (character.deathMonth == NULL) and (character.deathYear == NULL) %}
                        -
                    {% else %}
                        {{ character.deathDay }} / {{ character.deathMonth }} / {{ character.deathYear }} </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="container-content mt-3 mb-5">
                <h3>Biographie :</h3>
                {{ character.background }}
            </div>
        </div>
        <div class="row">
            <a href="{{ path('character_edit', {'slug' : character.slug}) }}" class="btn btn-primary mb-5">Editer le personnage</a>
        </div> 
    </div>  
</div>
{% endblock %}
